---
import { withBasePath } from '@/components/sections/microsites/config/path-utils';
import Layout from '@/layouts/Layout.astro';
import type { JSX } from 'astro/jsx-runtime';

const logo = withBasePath('/cva_logo_letras_blancas.webp');

const fields = [
  {
    nameIcon:
      '<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" <g fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="22" d="M12 5c1.66 0 3 1.34 3 3c0 1.66 -1.34 3 -3 3c-1.66 0 -3 -1.34 -3 -3c0 -1.66 1.34 -3 3 -3Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.5s" values="22;0"/><animate fill="freeze" attributeName="fill-opacity" begin="1.1s" dur="0.15s" to=".3"/></path><path stroke-dasharray="38" stroke-dashoffset="38" d="M12 14c4 0 7 2 7 3v2h-14v-2c0 -1 3 -3 7 -3Z"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.5s" to="0"/><animate fill="freeze" attributeName="fill-opacity" begin="1.1s" dur="0.15s" to=".3"/></path></g></svg>',
    placeholder: 'Usuario',
    typeInput: 'text' as JSX.HTMLInputTypeAttribute,
    required: true,
    key: 'user',
  },
  {
    nameIcon:
      '<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" {...props}><path fill="currentColor" fill-opacity="0" stroke="currentColor" stroke-dasharray="64" stroke-dashoffset="64" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 2l-9 3.5v6.5c0 3.5 3.5 9 8 10c4.5 -1 8 -6.5 8 -10v-6.5l-8 -3.5Z"><animate fill="freeze" attributeName="fill-opacity" begin="0.7s" dur="0.15s" values="0;0.3"/><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="64;0"/></path></svg>',
    placeholder: 'Contraseña',
    typeInput: 'password' as JSX.HTMLInputTypeAttribute,
    required: true,
    key: 'password',
  },
];
---

<Layout title="Login" description="Inicia sesión en tu cuenta para acceder a tus cursos y contenido exclusivo.">
  <main class="flex items-center justify-center h-screen">
    <div
      class="relative w-226 mx-auto rounded-3xl min-h-[90dvh] 2xl:min-h-[70dvh] max-h-screen bg-linear-to-br from-white via-[#e3e5e6] to-slate-400 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] overflow-hidden"
    >
      <div class="absolute inset-0 w-2/3 h-full flex items-center justify-center p-12">
        <form id="login-form" class="flex flex-col items-center justify-center h-full w-full space-y-6">
          <h1 class="text-4xl font-semibold text-slate-700 text-center w-full">Iniciar Sesión</h1>

          <div v-for="field in fields" :key="field.placeholder" class="w-full text-gray-600">
            {
              fields.map((field) => (
                <div class="flex items-center w-full bg-white border border-gray-200 h-12 rounded-full overflow-hidden pl-5 pr-3 gap-2.5 mb-4">
                  <div set:html={field.nameIcon} />
                  <input
                    type={field.typeInput}
                    placeholder={field.placeholder}
                    class="bg-transparent text-gray-600 placeholder-gray-400 outline-none text-sm w-full h-full "
                    required={field.required}
                    id={field.key}
                    name={field.key}
                  />
                  {field.typeInput == 'password' && (
                    <button
                      v-if={field.typeInput == 'password'}
                      type="button"
                      class="flex items-center justify-center ml-auto pr-1"
                      id="button-show-password"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path fill="currentColor" d="M12.49 9.94A2.5 2.5 0 0 0 10 7.5z" />
                        <path
                          fill="currentColor"
                          d="M8.2 5.9a4.4 4.4 0 0 1 1.8-.4a4.5 4.5 0 0 1 4.5 4.5a4.3 4.3 0 0 1-.29 1.55L17 14.14A14 14 0 0 0 20 10s-3-7-10-7a9.6 9.6 0 0 0-4 .85zM2 2L1 3l2.55 2.4A13.9 13.9 0 0 0 0 10s3 7 10 7a9.7 9.7 0 0 0 4.64-1.16L18 19l1-1zm8 12.5A4.5 4.5 0 0 1 5.5 10a4.45 4.45 0 0 1 .6-2.2l1.53 1.44a2.5 2.5 0 0 0-.13.76a2.49 2.49 0 0 0 3.41 2.32l1.54 1.45a4.47 4.47 0 0 1-2.45.73"
                        />
                      </svg>
                    </button>
                  )}
                </div>
              ))
            }
          </div>

          <button
            type="submit"
            class="cursor-pointer w-1/2 mt-2 overflow-hidden rounded-full font-semibold text-base py-2.5 px-10 text-white transition-all duration-400 bg-[#1e293b] hover:bg-[#2c3c56] active:bg-[#1e293b] hover:shadow-2xl active:shadow-lg"
          >
            Iniciar Sesión
          </button>
        </form>
      </div>
      <div
        class="absolute top-0 right-0 w-1/3 h-full rounded-3xl flex flex-col items-center justify-center gap-6 px-8 bg-[#162939]"
      >
        <img src={logo} alt="Background logo image" class="select-none max-w-50" />

        <div
          class="relative w-full flex flex-col items-center gap-6 text-center overflow-hidden"
          :style="{ height: `${contentHeight}` }"
        >
          <div class="swap-content-block" :style="{ transform: `translateY(${contentHeight})` }">
            <h2 class="text-white text-4xl font-bold leading-tight py-4">Bienvenido</h2>
            <p class="text-white text-lg text-center w-full max-w-110">
              Ingresa tus credenciales para visualizar los <strong>micrositios</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
<script>
  import Swal from 'sweetalert2';

  const form = document.querySelector<HTMLFormElement>('#login-form');
  const buttonShowPassword = document.querySelector<HTMLButtonElement>('#button-show-password');
  const inputPassword = document.querySelector<HTMLInputElement>('#password');

  if (buttonShowPassword && inputPassword) {
    buttonShowPassword.addEventListener('click', () => {
      const isPassword = inputPassword?.type === 'password';
      inputPassword.type = isPassword ? 'text' : 'password';
      buttonShowPassword.innerHTML = isPassword
        ? '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="currentColor" d="M10 14.5a4.5 4.5 0 1 1 4.5-4.5a4.5 4.5 0 0 1-4.5 4.5M10 3C3 3 0 10 0 10s3 7 10 7s10-7 10-7s-3-7-10-7"/><circle cx="10" cy="10" r="2.5" fill="currentColor"/></svg>'
        : '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="currentColor" d="M12.49 9.94A2.5 2.5 0 0 0 10 7.5z"/><path fill="currentColor" d="M8.2 5.9a4.4 4.4 0 0 1 1.8-.4a4.5 4.5 0 0 1 4.5 4.5a4.3 4.3 0 0 1-.29 1.55L17 14.14A14 14 0 0 0 20 10s-3-7-10-7a9.6 9.6 0 0 0-4 .85zM2 2L1 3l2.55 2.4A13.9 13.9 0 0 0 0 10s3 7 10 7a9.7 9.7 0 0 0 4.64-1.16L18 19l1-1zm8 12.5A4.5 4.5 0 0 1 5.5 10a4.45 4.45 0 0 1 .6-2.2l1.53 1.44a2.5 2.5 0 0 0-.13.76a2.49 2.49 0 0 0 3.41 2.32l1.54 1.45a4.47 4.47 0 0 1-2.45.73"/></svg>';
    });
  }

  form?.addEventListener('submit', async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    const user = formData.get('user');
    const password = formData.get('password');

    const userData = {
      user: import.meta.env.PUBLIC_ADMIN_USER,
      password: import.meta.env.PUBLIC_ADMIN_PASSWORD,
    };

    if (user === userData.user && password === userData.password) {
      const sessionToken = crypto.randomUUID();
      const session = {
        token: sessionToken,
        createdAt: Date.now(),
      };
      localStorage.setItem('auth', JSON.stringify(session));
      window.location.href = '/planes';
    } else {
      Swal.fire({
        title: 'Error!',
        text: 'Usuario o contraseña incorrectos',
        icon: 'error',
        confirmButtonText: 'Aceptar',
      });
    }
  });
</script>
