---
import type { NavDropdownItem } from '@/components/sections/microsites/config';

interface Props {
  label: string;
  items: NavDropdownItem[];
  index: number;
  buttonClass: string;
  initialTextColor?: string;
  transparent?: boolean;
  initialTone?: 'light' | 'dark';
}

const { label, items, index, buttonClass, initialTextColor, transparent, initialTone } = Astro.props as Props;
const buttonId = `navbar-desktop-dropdown-button`;
---

<li>
  <button
    id={buttonId}
    data-dropdown-toggle="dropdown"
    class={`navbar-text inline-flex items-center justify-center gap-1 font-medium ${initialTextColor} rounded-lg focus:border-none focus:outline-none cursor-pointer transition-colors duration-300`}
    type="button"
  >
    {label}

    <svg
      class="navbar-icon transition-all duration-300"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"
      ></path>
    </svg>
  </button>
  <div
    id="dropdown"
    class="hidden absolute z-20 mt-2 w-44 bg-white rounded-lg shadow-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
  >
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby={buttonId}>
      {
        items?.map((subitem) => (
          <li>
            <a href={subitem.href} class="block px-4 py-2 hover:bg-gray-100 ">
              {subitem.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</li>

<!-- <script>
  const dropdownButton = document.getElementById(`navbar-desktop-dropdown-button`);
  const svg = dropdownButton?.querySelector('svg');

  dropdownButton?.addEventListener('click', () => {
    const dropdown = document.getElementById('dropdown');
    if (dropdown) {
      dropdown.classList.toggle('hidden');
      if (svg) {
        svg.classList.toggle('rotate-180');
      }
    }
  });
</script> -->
